

{% set roles = [] %}
{% for role in salt['pillar.get']('roles', default=()) %}
{% if role in ['controller', 'network'] and grains['id'] == salt['pillar.get']('%s' % role) %}
{% do roles.append(role) %}
{% else %}
{% if grains['id'] in salt['pillar.get']('%s' % role) %}
{% do roles.append(role) %}
{% endif %}
{% endif %}
{% endfor %}


{% set formulas = [] %}
{% for role in roles %}
{% for formula in salt['pillar.get']('sls:%s' % role, default=()) %}
{% if formula not in formulas %}
{% do formulas.append(formula) %}
{% endif %}
{% endfor %}
{% endfor %}


{% macro get_candidate(sls) -%}
{% for role in salt['pillar.get']('roles' , default=()) %}
{% if sls in salt['pillar.get']('sls:%s' % role) %}
{% if role in ['controller', 'network'] %}
{{ salt['pillar.get']('hosts:%s' % pillar[role]) }}{% elif grains['id'] in salt['pillar.get']('%s' % role) %}
{{ salt['pillar.get']('hosts:%s' % grains['id']) }}{% endif %}
{% endif %}
{% endfor %}
{%- endmacro %}
