

{% set roles = [] %}
{% for role in salt['pillar.get']('roles', default=()) %}
{% if role in ['controller', 'network'] and grains['id'] == salt['pillar.get']('%s' % role) %}
{% do roles.append(role) %}
{% else %}
{% if grains['id'] in salt['pillar.get']('%s' % role) %}
{% do roles.append(role) %}
{% endif %}
{% endif %}
{% endfor %}


{% set formulas = [] %}
{% for role in roles %}
{% for formula in salt['pillar.get']('sls:%s' % role, default=()) %}
{% if formula not in formulas %}
{% do formulas.append(formula) %}
{% endif %}
{% endfor %}
{% endfor %}


{% macro get_candidate(sls) -%}
{% for host in salt['pillar.get']('hosts', default=()).keys() %}
{% for cluster_entity in salt['pillar.get']('roles' , default=()) %}
{% if cluster_entity in ['controller', 'network'] and grains['id'] == salt['pillar.get']('%s' % cluster_entity) %}
{% if sls in salt['pillar.get']('sls:%s' % cluster_entity) %}
{{ salt['pillar.get']('hosts:%s' % host) }}{% endif %}
{% else %}
{% if host in salt['pillar.get']('%s' % cluster_entity) %}
{% if sls in salt['pillar.get']('sls:%s' % cluster_entity) %}
{{ salt['pillar.get']('hosts:%s' % host) }}{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{%- endmacro %}

